body {
    background-image: url("../img/piso.webp");
}
.dado-presentacion {
    background-color: red;
    border-radius: 25%;
    width: 300px;
    height: 300px;
    position: static;
    margin: 5% 0 0 20%;
}

.boton-tirar {
    height: 50px;
    width: 250px;
    margin-left: 42%;
    margin-top: 8%;
    border-radius: 8%;
    background-color: aqua;
}
.boton-tirar:active {
    background-color: gray;
}
.boton-tirar:hover {
    background-color: lightgreen;
}
#mensaje {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Arriba | Derecha | Abajo | Izquierda margin: 2px 1em 0 auto;
*/